<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Site.Title }}</title>

    {{ $styles := resources.Get "js/index.js" | minify }}
    <script
        type="text/javascript"
        src="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
        defer
    ></script>

    {{ $styles := resources.Get "css/output.css" | minify }}
    <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
    />
    <link rel="stylesheet" href="https://use.typekit.net/gdq3fqf.css" />
</head>
